body {
    background-color: #212A3E;

}

.BarraDoLogo {
    background-image: url("CSS/wallpaperbarra.png");
    overflow: auto;
    height: 100vh;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;

}

.barra {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Adicionado */
  }
  
  .botao {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    margin-bottom: 10px; /* Adicionado */
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1 0 100%; /* Adicionado */
    max-width: 250px; /* Adicionado */
  }
  
  .botao:hover {
    background-color: #45a049;
  }
  
  .botao:focus {
    outline: none;
  }
  
.corpo {
    background-color: white;

}

.divconteudo {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;

}

.mascote {
    width: fit-content;
    height: fit-content;
    position: relative;
    left: auto;


}

.letra {
    font-family: sans-serif;
    font-size: 16px;
}

.logotipo {
  size: 40px;
}

.pokeicone {
  height: 10%;
  width: 10%;
}

.textocentralizado {
  padding-left: 20%;
  padding-right: 20%;
}
